

{% block content1 %}
<br>
<h1>Gas Station Locator</h1>


<form action="{{ url_for('results') }}" method="POST">
    {{ form.location.label() }}{{ form.location() }}<br>
    <br>
    {{ form.type.label() }}{{ form.type() }}<br>
    <br>
    {{ form.submit() }}
    {{ form.hidden_tag() }}
</form>


{% endblock %}

<p>------------</p>
<h3>Navigation</h3>
<ul>
    <li><a href="{{ url_for('index')}}">Go to main location input form.</a></li>
    <li><a href="{{ url_for('all_gas')}}">See all gas stations.</a></li>
    <li><a href="{{ url_for('all_loc')}}">See all locations so far.</a></li>
    <!--<li><a href="{{ url_for('searches')}}">See all locations so far.</a></li>-->
    <li><a href="{{ url_for('results')}}">See all search results.</a></li>
</ul>
